
html{

}
body{
  margin:0 auto;
}
.App {
   
  margin: auto;
  width:50%;
  box-sizing:border-box;
}

.myForm{
  width:100%;
  background-color:#eee;
  border-radius:5px;
  padding:20px;
  box-sizing:border-box;
}

.formField{
  width:100%;
  padding:12px 20px;
  display:block;
  border-radius: 5px;
  border:solid 1px #ccc;
  box-sizing:border-box;

}

.myButton{
  width:100%;
  background-color:#ddd;
   color:#fff;
   padding:14px 20px;
   margin:8px 0;
   border:none;
   border-radius:5px;
   cursor:pointer;
   box-sizing:border-box;
}

.myList{
  list-style:none;
  box-sizing:border-box;
}

.myListButton{
  display:inline-block;
  height:auto;
  width:auto;
  border-radius: 5px;
  border: 1px solid #bbb;
  margin:5px;
  box-sizing:border-box;
}